<img style=" width: 30%; position: relative; left: 35%;" src="img/TID.png" />
<p class="testomedio">Seleziona il gioco:</p>
<div class="gioco" style=" background-color: rgba(255, 207, 0, 0.33);" ng-click="eduBeehive()">
    <img style="float:left;" class="logoGioco" src="img/logo_edubeehive.png" />
    <div style="float:left;">
        <h2>Edu Beehive</h2>
        <p>Impara di più sulla vita delle api.</p>
    </div>
</div>

<div class="gioco" style="background-color: rgba(54, 54, 221, 0.66); ">
    <img style="float:right;" class="logoGioco" src="img/logo_eduuniverse.png" />
    <div style="float:right;">
        <h2>Edu Universe</h2>
        <p>Impara di più sull'universo.</p>
    </div>
</div>