    {{punteggioFinale}}
<div style="width: 50%; position: relative; margin-top: 7%;">
    <div style=" position: absolute; height: 533px; bottom: 0; width: 440px; background-image: url(../img/Honey.png); background-repeat: repeat-y; top: 0; left: 10px; }" />
</div>
</div>
<img src="./img/Jar.png" />
<div style="width: 50%; float: right; margin-top: 4%; ">
    <p class="testomedio">Questo &egrave; il vasetto di miele che l'alveare ha prodotto!</p>
    <p class="testogrande blu">Bravissimi!</p>
    <p class="testopiccolo blink_me">Tra un minuto ricomincer&agrave; una nuova partita.</p>
</div>

