<div style="position: relative; float: left; margin-top: 10%; padding-left: 14%;">
    <div style=" position: relative; height: 640px; width: 480px; top: 0; bottom: 0; background-image: url('../img/Jar.png');">
    	<div id="honey" class="fill_jar" style=" position: relative; width: inherit; left: 8px; bottom: 0px; height: 540px; top: -11px; background: url('../img/Honey.png') 0% 40% transparent; background-repeat: no-repeat"></div>
    </div>
</div>
	
<div style="width: 40%; float: right; margin-top: 10%; padding-right: 5%;">
    <p class="testomedio">Questo &egrave; il vasetto di miele che l'alveare ha prodotto!</p>
    <p class="testogrande blu">Bravissimi!</p>
    <p class="testopiccolo blink_me">Tra un minuto ricomincer&agrave; una nuova partita.</p>
</div>