    {{punteggioFinale}}
<div style="width:50%; ">
    <div style="position: absolute; height: 340px; bottom: 0px; margin-bottom: 104px; width: 508px; background-image: url(../img/Honey.png); background-repeat: repeat-y;" />
</div>
</div>
<img src="./img/Jar.png" />
<div style="width: 50%; float: right; ">
    <p class="testomedio">Questo &egrave; il vasetto di miele che l'alveare ha prodotto!</p>
    <p class="testogrande blu">Bravissimi!</p>
    <p class="testopiccolo blink_me">Tra un minuto ricomincer&agrave; una nuova partita.</p>
</div>

