<p class="testopiccolo dx">Tocca al giocatore: {{giocatore}}</p>

<div class="centrato" style="padding-top:90px;">
    <div style="" id="fiori">
        <p class="testomedio" style="margin-bottom:1px">Fiori presi:</p>
        <img class="fiore" src="../img/fiore.png" />
        <img class="fiore" src="../img/fiore.png" />
        <img class="fiore" src="../img/fiore.png" />
    </div>
    <p class="testomedio">Tentativi rimanenti: {{pallineRimanenti}}</p>
    <p class="testopiccolo">{{esitoTiro}}</p>
</div>
