<p class="testopiccolo dx">Tocca al giocatore: {{nomeBimbo}}</p>

<div class="centrato">
    <p class="testomedio">{{domandaCorrente.domanda}}</p>
    <button value="risp0" ng-model="domandaCorrente.risposta1" id="risp0" class="textBorder"> {{domandaCorrente.risposta1}} </button>
    <button value="risp1" ng-model="domandaCorrente.risposta2" id="risp1" class="textBorder"> {{domandaCorrente.risposta2}} </button>
</div>

<p id="prossimo" style="display: none;" class=" testomedio blink_me">Premi uno dei due pulsanti per passare al prossimo quiz</p>

<audio src="../suoni/pulsante_premuto.mp3" id="suono"></audio>
